[alias]
	review = "!git fetch && git difftool --gui -d --no-symlinks origin/${2:-develop}...origin/$1 #"
	worktree-from-branch = "!git fetch && git worktree add ../$1 $1 #"
	worktree-remove-branch = "!git worktree remove ../$1 #"
	wtb = "worktree-from-branch"
	wtr = "worktree-remove-branch"
	branch-clean = "!f() { \
        git fetch -p; \
        git branch -vv | grep ': gone]' | awk '{print $2}' | xargs -I {} sh -c 'git worktree remove --force {} 2>/dev/null; git branch -D {}'; \
        git worktree prune; \
    }; f"
	bc = "branch-clean"

[core]
	autocrlf = true
	editor = code --wait
	longpaths = true

[init]
	defaultBranch = main

[fetch]
	prune = true
	pruneTags = true

[worktree]
	guessRemote = true

[user]
	name = Roman Sattler
	email = roman.sattler@gmail.com

[include]
	path = ~/local.gitconfig
