# yaml-language-server: $schema=https://aka.ms/configuration-dsc-schema/0.2
properties:  
    configurationVersion: 0.2.0
    
    assertions:
      - resource: Microsoft.Windows.Developer/OsVersion
        directives:
          description: Verify min OS version requirement
        settings:
          MinVersion: '10.0.22000'
          
    resources:
      - resource: Microsoft.Windows.Developer/DeveloperMode
        directives:
          description: Enable Developer Mode
        settings:
          Ensure: Present

      - resource: Microsoft.WinGet.DSC/WinGetPackage
        directives:
            description: Install git
        settings:
            id: Git.Git
            source: winget

      - resource: Microsoft.WinGet.DSC/WinGetPackage
        id: vsPackage
        directives:
          description: Install Visual Studio 2022 Community (Preview)
        settings:
          id: Microsoft.VisualStudio.2022.Community.Preview
          source: winget

    #   - resource: Microsoft.VisualStudio.DSC/VSComponents
    #     dependsOn:
    #       - vsPackage
    #     directives:
    #       description: Install required VS workloads from vsconfig file
    #     settings:
    #       productId: Microsoft.VisualStudio.Product.Community
    #       channelId: VisualStudio.17.Release
    #       vsConfigFile: '${WinGetConfigRoot}\..\.vsconfig'
    #       includeRecommended: true

      - resource: Microsoft.WinGet.DSC/WinGetPackage
        directives:
            description: Install Docker Desktop
        settings:
            id: Docker.DockerDesktop
            source: winget

      - resource: Microsoft.WinGet.DSC/WinGetPackage
        directives:
            description: Install Azure Developer CLI
        settings:
            id: Microsoft.Azd
            source: winget

      - resource: Microsoft.WinGet.DSC/WinGetPackage
        directives:
            description: Install PowerToys
        settings:
            id: Microsoft.PowerToys
            source: winget

      - resource: Microsoft.WinGet.DSC/WinGetPackage
        directives:
            description: Install Bitwarden
        settings:
            id: Bitwarden.Bitwarden
            source: winget

      - resource: Microsoft.WinGet.DSC/WinGetPackage
        directives:
            description: Install DBeaver
        settings:
            id: dbeaver.dbeaver
            source: winget

      - resource: Microsoft.WinGet.DSC/WinGetPackage
        directives:
            description: Install PowerShell
        settings:
            id: Microsoft.PowerShell
            source: winget

      - resource: Microsoft.WinGet.DSC/WinGetPackage
        directives:
            description: Install Beeper
        settings:
            id: Beeper.Beeper
            source: winget

      - resource: Microsoft.WinGet.DSC/WinGetPackage
        directives:
            description: Install Insomnia
        settings:
            id: Insomnia.Insomnia
            source: winget

      - resource: Microsoft.WinGet.DSC/WinGetPackage
        directives:
            description: Install VS Code
        settings:
            id: Microsoft.VisualStudioCode
            source: winget

      - resource: Microsoft.WinGet.DSC/WinGetPackage
        directives:
            description: Install Windows Terminal
        settings:
            id: Microsoft.WindowsTerminal
            source: winget

      - resource: Microsoft.WinGet.DSC/WinGetPackage
        id: nvsPackage
        directives:
            description: Install Node Version Switcher
        settings:
            id: jasongin.nvs
            source: winget

      - resource: Microsoft.WinGet.DSC/WinGetPackage
        id: mkcertPackage
        directives:
            description: Install mkcert
        settings:
            id: FiloSottile.mkcert
            source: winget
            